@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Condensed&family=Jost&family=Oswald:wght@300;400;600&family=Vollkorn:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    display: flex;
}

.left{
    background-color: white;
    padding: 90px 40px;
    border-radius: 10px;
}

.left h1{
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
}

.left h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.right{
    background-color: rgb(228, 248, 46);
    padding: 90px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10px;
    border-radius: 10px;
}

.right h3{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
}